extends layout

block content
	h1= title
	p Welcome to #{title}
	table
		tr 
			td Name
			td Sagarin Rank
			td Massey Rank
		- each team in teams
			tr
				td #{team.name}
				- if(team.rankings.Sagarin)
					td #{team.rankings.Sagarin.rank}
				- else
					td
				- if(team.rankings.Massey)
					td #{team.rankings.Massey.rank}
				- else
					td
	